*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p{
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
a{
  color: currentColor;
  text-decoration: none;
}

.section-padding{
  padding: 4rem 0;
}
.section-bg {
  background-color: #0e1630;
}
.section-title{
  padding-bottom: 30px;
}

.logo h2{
  color: rgba(255,255,255,.55);
}
.logo h2 span{
  color: red;
}

/* common section end  */

/* nav style start  */

.nav-section{
  border-bottom:.1px solid rgba(245, 245, 245, 0.075);;
  padding: 2rem 0;
}

.nav-section .nav-list ul li{
  display: inline-block;
  margin-right: 1.5rem;
  font-size: large;
  font-weight: 600;
  padding-top: 7px;
  color: rgba(255,255,255,.55);
}

.nav-button .nav-buy-now-button{
  padding: 10px 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 2px solid red;
  margin-left: 11rem;
  font-weight: 600;
}
.nav-button .nav-buy-now-button:hover{
  background-color: whitesmoke;
  color: red;
  border: 2px solid whitesmoke;
}

.nav-section .nav-list ul li:hover a{
  color: red;
}


/* nav style end  */

/* home styling start  */


.home-section .home-text{
  color: rgba(255,255,255,.55);
}

.home-section .home-text h1{
  font-size: 5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1.5rem;
}
.home-section .home-text h4{
  color: red;
  margin-bottom: 2rem;
}

.home-section .home-button ul li{
  display: inline-block;
}

.home-section .home-buy-now-button{
  padding: 10px 30px;
  background-color: transparent;
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  font-weight: 600;
}

.home-section .home-buy-now-button:hover{
  border: 2px solid rgba(255,255,255,.55);
  color: rgba(255,255,255,.55);
}


.home-section .home-documentation{
  color: red;
  margin-left: 2rem;
}

.home-section .home-documentation:hover{
  color: rgba(255,255,255,.55);
}

.home-section  a{
  font-size: 1.3rem;
  margin-left: -6rem;
  text-decoration: underline;
}

.home-section .home-button{
  margin-bottom: 2rem;
}
/* home styling end  */

/* demo section start  */

.demo-section{
  border-top: .1px solid rgba(245, 245, 245, 0.075);
}

.demo-section .demo-header{
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.demo-section .single-demo-card{
  background-color: #171f38;
  padding: 12px;
  border-radius: .5rem;
}

.demo-section .inner-demo-box-footer{
  color: rgba(255,255,255,.55);
  text-align: center;
  background-color: #0e1630;
  padding: .5rem 0;
  border-radius: .2rem;
  margin-top: 1rem;
}
.demo-section .inner-demo-box-footer:hover{
  color: white;
}

.inner-demo-box{
  overflow: hidden;
}

.inner-demo-box  img{
  width: 500px;
  height: 300px;
  border-radius: .2rem;
  transition: 0.5s all ease-in-out;
  display: block;
}

.inner-demo-box :hover img{
  transform: scale(1.1);
}

/* demo section end  */

/* page section start  */

.page-section{
  border-top: .1px solid rgba(245, 245, 245, 0.075);
}
.page-section .page-header{
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

.page-section .page-card{
  background-color: #171f38;
  padding: 12px;
  border-radius: .5rem;
  margin-bottom: 2rem;
}
.page-section img{
  width: 500px;
  height: 300px;
  border-radius: .2rem;
}

.page-section .page-box-footer{
  color: rgba(255,255,255,.55);
  text-align: center;
  background-color: #0e1630;
  padding: .5rem 0;
  margin-top: 1rem;
}

.page-section .page-box-footer:hover{
  color: white;
}

.page-box{
  overflow: hidden;
}

.page-box img{
  transition: 0.5s all ease-in-out;
  display: block;
}

.page-box:hover img{
  transform: scale(1.1);
}

/* page section end  */

/* features section start  */

.features-section{
  border-top: .1px solid rgba(245, 245, 245, 0.075);
}

.features-section .features-heading{
  color: white;
  text-align: center;
  margin-bottom: 3rem;
}

.features-section .single-features-card{
  background-color: #181e36;
  border-radius: .5rem;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  margin: 0.5rem -0.25rem;
  transition: all .5s linear;
}

.features-section .single-features-card:hover{
  background-color: #182148;
}

.features-section .features-logo .features-img-4{
  height: 60px;
}

.features-section .features-logo .features-img-10{
  border-radius: .5rem;
}


.features-section .features-logo img{
  width: 60px;
  height: 60px;
  margin: 1rem;
}

.features-section .single-features-card h3{
  padding: 0rem 2rem 2rem 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.features-section .single-features-card .features-text-12{
  margin-bottom: -1rem;
}
.features-section .single-features-card .features-text-2{
  margin-bottom: -1rem;
}

/* features section end  */


/* get started styling */

.getstarted{
  border-top: .1px solid rgba(245, 245, 245, 0.075);
}

.getstarted .getstarted-content h2{
color: white;
text-align: center;
margin-bottom: 2rem;
}
.getstarted .getstarted-content span{
  color: red;
}

.getstarted .getstarted-content .getstarted-inner-button{
  background-color: #171f38;
  color: red;
  border: 2px solid #171f38;
  padding: 1rem 4rem;
  font-size: 1.3rem;
  border-radius: .5rem;
}
.getstarted .get-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.getstarted .getstarted-inner-button:hover{
  color: rgba(255,255,255,.55);
  border: 1px solid rgba(255,255,255,.55);
}

/* getstarted end  */

/* footer start  */
.footer-section{
  border-top: .1px solid rgba(245, 245, 245, 0.075);
}

.footer-section .footer-list ul{
  margin-left: 26rem;
}

.footer-section .footer-list li{
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-left: 1rem;
}


/* footer end  */